<html>
<head>
	<title>MySassyApp</title>
</head>
<body>
	<h1>Im So Sassy</h1>
		<div>
			<section>
				<p>this is a section that should be displayed with my sassy mixins.</p>
			</section>

			<section>
				<p>this is the second section that should be displayed with my sassy mixins.</p>
			</section>
		</div>
</body>
</html>