<img id="sass" src="assets/sass.png" />
		<div>
			<section>
				<h2>Using Sass Variables</h2>
					<ul>
						<li>Declared using a $ character</li>
						<li>Numbers - $myVar: 100px;</li>
						<li>Strings - $myStr: "some cool text";</li>
						<li>Colors - $myColor: false;</li>
						<li>Booleans - $myBool: false;</li>
						<li>Nulls - $myVar: null;</li>
						<li>Lists - $myList: 1px solid red;</li>
					</ul>
			</section>
			<section>
				<h2>Defining Nested Rules</h2>
					<h3>CSS</h3>
						<code>
							<ul>
								.content {
									<li>width:100%;</li>
									<li>margin:10% 5%;</li>
									<li>color:#f00</li>
								}
							</ul>
							<ul>
								.content a {
									<li>color:#00f;</li>
									<li>text-decoration:none;</li>
								}
							</ul>
							<ul>
								.content a:hover {
									<li>color:#0f0</li>
								}
							</ul>
						</code>
					<h3>Sass</h3>
						<code>
							<ul>	
								.content {
									<li>width:100%;</li>
									<li>margin:10% 5%;</li>
									<li>color:#f00</li>
										<ul>a {
											<li>color:00f;</li>
											<li>text-decoration:none;</li>
												<ul>:hover {
														<li>color:#0f0;</li>
													}
												</ul>
											}
										</ul>
								}
							</ul>
						</code>
			</section>
		</div>

		<div>
			<section>
				<h2>Working With Mixins</h2>
					<p>Mixins allow you to define common properties once, then reuse them.</p>
						<code>
							<ul>@mixin .myMixin {
								<li>font-size:.9em</li>
								<li>background-color:#8280de;</li>
								<li>border-bottom:1px dashed #fff;</li>
								}
							</ul>
							<ul>.myStyle {
								<li>@include myMixin;</li>
								<li>color:#75c6bc;</li>
								}
							</ul>
							<br>
							<ul>@mixin commonTraits {
								<li>border-radius:10px</li>
								<li>border:1px solid #f0f;</li>
								<li>padding:10%;</li>
								}
							</ul>
							<ul>header {
								<li>@include commonTraits;</li>
								<li>color:#75c6bc;</li>
								}
							</ul>
							<ul>footer {
								<li>@include commonTraits;</li>
								<li>color:#274D87;</li>
								}
							</ul>
						</code>
			</section>
			<section>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</section>
		</div>
		<div class="clear"></div>
		<footer>
			<p>this is my footer</p>
		</footer>

