<img id="sass" src="assets/sass.png" />
		<div>
			<section>
				<h2>Using Sass Variables</h2>
					<!-- <ul>
						<li>Declared using a $ character</li>
						<li>Numbers - $myVar: 100px;</li>
						<li>Strings - $myStr: "some cool text";</li>
						<li>Colors - $myColor: false;</li>
						<li>Booleans - $myBool: false;</li>
						<li>Nulls - $myVar: null;</li>
						<li>Lists - $myList: 1px solid red;</li>
					</ul> -->

					<code>
						<ul>$myColor:navy;<br>
								$myPadding:.5em;<br>
								$myStringVar: " my appended string";<br>
								$tester:1px solid red;<br><br>
						
								h1 {
									<li>color:$myColor;</li>
								}
								</ul>
								<ul>
								#myPara:after {
									<li>$myStringVar;</li>
								}
								</ul>
								<ul>
								p {
									<li>$tester;</li>
									<li>$myPadding;</li>
								}
						</ul>
					</code>
			</section>
			<section>
				<h2>Defining Nested Rules</h2>
					<h3>CSS</h3>
						<code>
							<ul>
								.content {
									<li>width:100%;</li>
									<li>margin:10% 5%;</li>
									<li>color:#f00</li>
								}
							</ul>
							<ul>
								.content a {
									<li>color:#00f;</li>
									<li>text-decoration:none;</li>
								}
							</ul>
							<ul>
								.content a:hover {
									<li>color:#0f0</li>
								}
							</ul>
						</code>
					<h3>Sass</h3>
						<code>
							<ul>	
								.content {
									<li>width:100%;</li>
									<li>margin:10% 5%;</li>
									<li>color:#f00</li>
										<ul>a {
											<li>color:00f;</li>
											<li>text-decoration:none;</li>
												<ul>:hover {
														<li>color:#0f0;</li>
													}
												</ul>
											}
										</ul>
								}
							</ul>
						</code>
			</section>
		</div>

		<div>
			<section>
				<h2>Working With Mixins</h2>
					<p>Mixins allow you to define common properties once, then reuse them.</p>
						<code>
							<ul>@mixin .myMixin {
								<li>font-size:.9em</li>
								<li>background-color:#8280de;</li>
								<li>border-bottom:1px dashed #fff;</li>
								}
							</ul>
							<ul>.myStyle {
								<li>@include myMixin;</li>
								<li>color:#75c6bc;</li>
								}
							</ul>
							<br>
							<ul>@mixin commonTraits {
								<li>border-radius:10px</li>
								<li>border:1px solid #f0f;</li>
								<li>padding:10%;</li>
								}
							</ul>
							<ul>header {
								<li>@include commonTraits;</li>
								<li>color:#75c6bc;</li>
								}
							</ul>
							<ul>footer {
								<li>@include commonTraits;</li>
								<li>color:#274D87;</li>
								}
							</ul>
						</code>
			</section>
			<section>
				<h2>Using Operators</h2>
					<code>
							<ul>$myColor:red;<br>
									$basePadding:.5em;<br>
									$baseThickness:2px;<br><br>

									#myPara {
								<li>color:$myColor + blue;</li>
								<li>border:$baseThickness solid $myColor;</li>
								<li>padding:$basePadding $basePadding + .5;</li>
								}
							</ul>
							<br>
							<ul>$gender:boy;<br>
									$myColor: if($gender == "boy", #00f, #f00);<br><br>

									myPara {
								<li>color:$myColor;</li>
								}
							</ul>
						</code>
			</section>
		</div>
		<div class="clear"></div>
		<footer>
			<p>this is my footer</p>
		</footer>

