$myColor: #75c6bc;
$myExtraString: " And this text was added from within my stylesheet..COOL!";

@mixin myMixin {
	background-color:yellow;
	border:3px dashed blue;
	font-family:sans-serif;
}



html{
	color:$myColor;
	font-size:16px;
	background-color:#c77580;
		section{
			@include myMixin;
				:after{
				content: $myExtraString;
				font-size:1.5em;
				color:#f00;
				}
		}
}
