$myColor: #75c6bc;
$myFont: sans-serif;
$myExtraString: " And this text was added from within my stylesheet";

@mixin sectionMixin {
	background-color:#8280de;
	font-family:sans-serif;
	width:42%;
	padding:4%;
	margin:0;
	float:left;
	margin-top:2%;
}


*{
	margin:0;
}
html{
	color:$myColor;
	font-family: $myFont;
	font-size:16px;
	background-color:#cc6699;
	position:relative;
	img#sass{
		background-color:#fff;
		width:800px;
		max-width: 100%;
		margin:0;
	}
		div{
			// border:1px solid red;
			width:100%;
			margin:0;
				section{
					@include sectionMixin;
						// :after{
						// 	content: $myExtraString;
						// 	font-size:1.1em;
						// 	color:#fff;
						// }
				}
		}
		div.clear{
			clear:both;
		}
		footer p{
			position: relative; 
		width: 100%; 
		height: 100%; 
		margin:0px auto;
		padding:25px 0;
		background:#222;
		font-family: "Futura", Arial, sans-serif; 
		font-weight: bold;
		font-size: 2em; 
		text-align: center;
		}
}
