$myColor: #75c6bc;
$myFont: sans-serif;
$myExtraString: " And this text was added from within my stylesheet";
$test: 1px solid white;


@mixin sectionMixin {
	background-color:#8280de;
	font-family:sans-serif;
	width: 49%;
	margin: .5%;
	float: left;
	height: 75%;
}


*{
	margin:0;
}
html{
	color:$myColor;
	font-family: $myFont;
	font-size:16px;
	background-color:#cc6699;
	position:relative;
	div#sass{
		width: 800px;
		height: 100%;
		max-width: 100%;
		margin:0px auto;
		img{
			background-color:#fff;
			width:800px;
			max-width: 100%;
		}
	}
		div{
			// border:1px solid red;
			width: 100%;
			margin: 0 auto;
			height: 100%;
						section{
							@include sectionMixin;
								h2{
									border-bottom:2px dashed #75c6bc;
									margin-bottom:5%;
								}
								h3{
									color: #fff;
									border-bottom:1px dashed #fff;
								}	
								code{
									ul{	
										color:#fff;		
											li{
												color:#75c6bc;
												list-style: none;
												text-indent: 30px;
											}
									}
								}
						}
		}
		#spacer{
			width: 1%;
		}
		div.clear{
			clear:both;
			height:0px;
		}
		footer p{
			position: relative; 
			width: 100%; 
			height: 100%; 
			margin:0px auto;
			padding:25px 0;
			background:#222;
			font-family: "Futura", Arial, sans-serif; 
			font-weight: bold;
			font-size: 2em; 
			text-align: center;
		}
}

@media (max-width: 960px) {
  html{
	  div{
	  	section{
	  	float: none;
	  	width:90%;
	  	margin:0 auto;
	  	}	
	  }
  }
}
